<div class="grid grid-cols-2 gap-4 h-full">
  <div class="col-span-1">
    <code>
      <pre class="overflow-x-auto p-4">
        <span class="text-slate-500">
{{ preview }}
        </span>
      </pre>
    </code>
  </div>
  <div class="px-2 py-4">
    <button class="bg-slate-900 mx-2 text-white px-4 py-1 rounded-lg hover:bg-slate-700"
      (click)="fetchServiceData()">Get data from
      service</button>

    <button class="bg-slate-900 text-white px-4 py-1 rounded-lg hover:bg-slate-700" (click)="fetchServiceData(true)">
      Get data without cache
    </button>

    <div class="mt-4">
      <p>Data</p>
      <ul>
        <li class="text-slate-500">
          <pre class="overflow-x-auto p-2">{{ data$ | async | json }}</pre>
        </li>
      </ul>
    </div>
  </div>
</div>
